#video-card {
  padding: 10px;
  border-radius: 8px;
  height: auto;
  // background-color: bisque;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  box-sizing: border-box;
  max-width: 320px;
  justify-self: center;
}

#video-details {
  overflow: hidden;
  text-overflow: ellipsis;
}

#video-title {
  white-space: nowrap;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: 8px;
  text-decoration: none;
  word-break: break-all;
}

#video-meta {
  font-size: 0.8rem;
  margin-top: 5px;
}

app-video-thumbnail {
  display: block;
}
